body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    
}

.jahid{
    color: tomato;
}
h1{ 
    font-size: 50px;
}
.name-highlight{
    color:#ffa500;
}
.hasan{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hasan img{
    width: 100%;
}
.top-banner{
    background-image: url(developer-portfolio/top-banner.png);
}
section{
    height: 500px;
    background: no-repeat;
}
.link-batun{
    text-decoration: none;
    background-image:linear-gradient( 45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700px;
}
.About{
    background: url("developer-portfolio/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
#hasan{
    color: #fc069d;
}
.midiam{
    color: tomato;
}
.mid-level{
    text-align: center;
    font-size: 700;
    
}
.half-pic{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding: 3%;
}
.half-pic img{
    width: 100%;
}
.half-pic{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 75%;
    background-color: #fdfdfd;
}
.c{
    text-align:;
}